body {
  background-color: #3c467d;
  font-family: 'Helvetica', sans-serif;
}

h1 {
  font-size: 3rem;
  color: #ff40e3;
  text-align: center;
  margin-top: 3rem;
}

.add {
  text-align: center;
  color: #ff40e3;
  background-color: #2c2f3e;
  border-radius: 10px;
  margin: 2rem auto;
  padding: 1rem;
  max-width: 600px;
}
.add input{
  background-color:#f3c623;
  margin: 2px;
}

.add h2 {
  color: #f3c623;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 2rem;
}

.items {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  color: pink;
  border-style: solid;
}

item{
  border-style: solid;
}


.item h4,
.item h5 {
  display: flex;
  justify-content: space-between;
  color: #ff40e3;
  font-size: 1.2rem;
  margin-top: 1rem;
}

.item h4 {
  font-size: 1.5rem;
}

.item button.delete {
  background-color: #f3c623;
  border: none;
  border-radius: 50%;
  color: #0b0d18;
  font-size: 1.2rem;
  height: 2rem;
  position: absolute;
  right: 1rem;
  top: 1rem;
  width: 2rem;
}

.card {
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  margin-bottom: 10px;
  overflow: hidden;
}

.card-header {
  background-color: rgb(222, 176, 183);
  color: #3c467d;
  padding: 10px;
}

.card-body {
  padding: 10px;
  background-color: #3c467d;
}

h5 {
  margin-top: 0;
}

.item button.delete:hover {
  cursor: pointer;
  background-color: #ff40e3;
}

.edit {
  background-color: #2c2f3e;
  border-radius: 10px;
  margin-top: 1rem;
  padding: 1rem;
  position: relative;
}

.edit h2 {
  color: #f3c623;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.edit form label {
  color: #f3c623;
  display: block;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.edit form input[type='text'] {
  background-color: #0b0d18;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 1rem;
  padding: 0.5rem;
  margin-bottom: 1rem;
  width: 100%;
}

.edit button {
  background-color: #f3c623;
  border: none;
  border-radius: 5px;
  color: #0b0d18;
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
}

.edit button:hover {
  cursor: pointer;
  background-color: #ff40e3;
}
